

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Jieying's Playground</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="MyStyleD/build/css/_variables.css">

  <link rel="fonts" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>

<body>
  <%- include("header")%>

  <div class="container">
    <div class="intro">
      <h1>Hi, I'm Jieying</h1>
      <div>
        <p>I'm a UX designer based in the Bay Area. I'm passionate about bringing people into the same environment, either digitally or physically, to teach, learn, share and play together.
        </p>
        <p>In my spare time, I like to <a href="https://github.com/Olivia99" target="_blank">code</a>.</p>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="projects">

    <%- include("project-card" , {projectTitle: "Nooie Doorbell" , projectType: "UX Design 2021", projectDesciption: "Redesigned UX Flow and Consumer Advocate method, which resulted in a 19% drop in returns.", lottie: "https://assets4.lottiefiles.com/packages/lf20_24mxypcs.json", page:"doorbell"})-%>
    <%- include("project-card", {projectTitle: "Scobee" , projectType: "App Design 2020", projectDesciption: "Created to encourage individuals to take action toward reversing climate change", lottie: "https://assets9.lottiefiles.com/packages/lf20_yxupc4x2.json", page:"doorbell" }) -%>

</body>

</html>
