

<div class="project-card">
  <div class="card-content">
    <div class="info">
      <h3>  <%=projectTitle%> </h3>
      <h5><b><%=projectType%></b></h5>

      <p><%=projectDesciption%></p>
    </div>
    <button type="submit" name="readMore">Read More <img src="assets/img/arrow-right.png" alt="arrow"></button>
    <div class="card-image">
      <img src="assets/img/doorbell.png"  style="width: 50%" alt="image of a hand pressing a doorbell">
    </div>
  </div>
</div>
